* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.containerMaior {
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  border-radius: 25px;
  align-items: center;
  font-family: "Space Mono", monospace;
}

.section1 {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  margin-right: 20px;
  padding-right: 30px;
}

.section1 h1 {
  color: hsl(186, 14%, 43%);
  font-size: 15px;
}

.bill {
  margin-bottom: 5px;
}

.select {
  margin-bottom: 20px;
}

.section2 {
  width: 400px;
  height: 400px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section2 h1 {
  color: hsl(189, 41%, 97%);
  font-size: 15px;
}

.section2 h2 {
  color: hsl(184, 14%, 56%);
  font-size: 13px;
}

strong {
  font-size: 40px;
  color: hsl(172, 67%, 45%);
}

.section2 button {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(185, 41%, 84%);
}

.section2 > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.valores-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container img {
  position: absolute;

  left: 10px;
}

.input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 3px solid hsl(172, 67%, 45%);
  padding: 0px 15px 0px 25px;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  outline: none;
}

.input.input-error {
  border-color: #f56565;
}

.smallInput {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 3px solid hsl(172, 67%, 45%);
  font-family: "Space Mono", monospace;
  font-size: 20px;
  text-align: right;
  color: hsl(183, 100%, 15%);
  outline: none;
  padding: 0px 10px;
}

.smallInput::placeholder {
  text-align: center;
}

ul {
  list-style: none;
}

.botoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.botoes button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  font-family: "Space Mono", monospace;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.select {
  margin-top: 40px;
}

.number-of-people {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number-of-people label {
  margin-bottom: 5px;
}

.number-of-people .error {
  color: #f56565;
  display: none;
}

.number-of-people .error.visible {
  display: block;
}

.botoes button.tip-button.selected {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}
